[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
python-dotenv = "*"
gunicorn = "*"
requests = "*"
pillow = "*"
django-mptt = "*"
django-storages = "*"
boto = "*"
boto3 = "*"
install = "*"
"django.utils.six" = "*"
pip = "*"
django-elasticsearch-dsl = "*"

[dev-packages]

[requires]
python_version = "3.10"
