{% extends "base.html" %}


{% block content %}
    <!-- Banner Start -->
    <section class="page-banner  mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="round-shape"></span>
                    <h2 class="banner-title">Change Password</h2>
                    <div class="bread-crumb"><a href="{% url "home" %}">Home</a> / Profile
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner End -->
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-conten padding-y bg mb-5">
        {% include "includes/alerts.html" %}

        <div class="container">
            <div class="row">
                {% include "includes/dashboard_sidebar.html" %}
                <main class="col-md-9">
                    <article class="card">
                        <header class="card-header">
                            <strong class="d-inline-block mr-3">Change Your Password:</strong>
                            <span>{% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}
                                {{ user.username }}{% endif %}</span>
                        </header>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="{% url "accounts:change_password" %}" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="woocommerce-billing-fields">
                                                    <div class="row">
                                                        <p class="col-lg-12">
                                                            <input placeholder="Enter Current Password"
                                                                   name="current_password" type="password" required>
                                                        </p>
                                                        <p class="col-lg-12">
                                                            <input placeholder="Enter New Password" name="new_password"
                                                                   type="password" required>
                                                        </p>
                                                        <p class="col-lg-12">
                                                            <input placeholder="Confirm New Password"
                                                                   name="confirm_password" type="password" required>
                                                        </p>
                                                        <button type="submit" class="add-to-cart-btn ml-3">Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div> <!-- row.// -->
                        </div> <!-- card-body .// -->
                    </article> <!-- order-group.// -->
                </main>
            </div> <!-- row.// -->
        </div>


    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}